.document-container {
    width: 80vw;
    height: 95vh;
    margin: auto;
    margin-left: 20vw;
}

.document-container.full {
    
    margin-left: 0vw;
    width: 100%;

    .document-head {
        padding-left: 0em;
    }

}

.document-head {
    
    padding: 0.3em;
    padding-left: 1.35em;
    box-shadow: 0.1em 0.1em 0.2em darkgray;
    margin-bottom: 0.3em;

    .icon-left {
        display: inline-block;
        width: 6%;
        vertical-align: middle;
    }

    .info {
        display: inline-block;
        width: 66%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        vertical-align: middle;
    }

    .controls {
        display: inline-block;
        width: 28%;
        text-align: right;
        vertical-align: middle;
    }

    .controls.offset {
        margin-left: 6%;
    }
    
    .info {
        
        .directory {
            color: $gray;
            font-size: 80%;
            margin: 0.5em;
        }

        .icons {
            display: inline;
        }
        
    }
    
}

.document-settings {
    
    text-align: center;
    
    select {
        display: inline-block;
        margin: 0.4em;
    }
    
    label {
        font-weight: bold;
    }
    
}

#ace-editor {
    width: 98%;
    margin: auto;
}

.document-page-preview > div {
    height: 91vh;
    overflow-y: auto;
    margin-left: 2em;
}

.document-page-edit > a, .document-page-preview > a {
    margin-left: 0.2em;
}

.document-code {
    
    position: relative;
    
    .editor-settings {
        
        position: absolute;
        z-index: 5;
        background-color: white;
        right: 0%;
        padding: 0.5em;
        text-align: center;
        
        label {
            font-weight: bold;
        }
        
    }
    
}

.document-encrypted, .document-encrypted > input {
    text-align: center;
}