.home {
    
    padding: 0em 2em;
    
    .nav-bar {
        
        position: fixed;
        top: 0%;
        left: 0%;
        width: 100%;
        padding: 0.3em 0.5em;
        font-size: 150%;
        box-shadow: 0.1em 0.1em 0.4em darkgray;
        background-color: $llgray;
        z-index: 2;
        text-align: center;
        
        a {
            color: $dgray;
            margin-right: 0.5em;
        }
        a:hover {
            color: $lgray;
        }
        
    }
    
    .markdown {
        padding: 1.5em 0em;
    }

    section.install > a {
        font-size: 110%;
        display: inline-block;
        padding: 0.2em;
    }

    footer {
        a {
            margin: 0.5em;
        }
    }
    
}