.modal {
    
    position: fixed;
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 10%;
    background-color: white;
    z-index: 7;
    border: solid 1px black;
    padding: 1em;
    box-shadow: 0.1em 0.1em 0.3em black;
    overflow-y: auto;
    text-align: center;
    
    .icon-close {
        float: right;
    }
    
    .tabs > a {
        margin: 0.4em;
    }
    
    .footer {
        position: absolute;
        width: 98%;
        bottom: 1%;
    }
    
}

.modal.full {
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    border: none;
    box-shadow: none;
}

.document-controls {
    
    .document-version-create > input, .document-contributor-add > input {
        text-align: center;
        display: inline;
    }
    
    .document-version-list {
        
        height: 40vh;
        overflow-y: auto;
        
        .document-version-list-item {
            
            padding: 0.5em;
            
            .name {
                font-weight: bold;
            }
            
            .created {
                display: block;
            }
            
        }   
        
    }
    
    .document-contributors {
        
        .document-contributor-list {
            
            height: 25vh;
            overflow-y: auto;
            
            .document-contributor-list-user {
                padding: 0.3em;
            }
            
            .selected {
                text-decoration: underline;
            }
            
        }
        
        .document-contributor-selected {
            
            background-color: $llgray;
            width: 70%;
            margin: auto;
            padding: 1em;
            border-radius: 0.5em;
            
            .user-email {
                margin: 0em;
            }
            
            .user-permissions {
                margin: 1em 0em;
            }
            
        }
        
    }
    
    .document-import {
        
        #ace-import {
            height: 57vh;
            text-align: left;
        }
        
    }
    
}

.user-account {
    
    section.info > input {
        text-align: center;
        margin-bottom: 2em;
    }

    .upgrade > .form {
        
        margin-bottom: 2em;
        
        select {
            font-size: 1.2em;
        }
        
        input {
            display: inline;
        }
        
        input[type="number"] {
            width: 4em;
        }
        
    }
    
}

.user-settings {
    
    .config {
        
        margin-bottom: 2em;
        
        button {
            display: block;
            margin: 2em auto;
        }
        
    }
    
    .config, .shortcuts {
        overflow-y: auto;
        height: 20em;
    }
    
    .shortcuts {
        
        input {
            display: inline;
            text-align: center;
        }
        
        textarea {
            text-align: center;
            width: 30em;
            height: 7em;
        }
        
    }
    
}

.document-templates {
    
    button {
        margin-top: 1em;
    }
    
    .variables > input {
        text-align: center;
    }
    
}