.document-note {
    width: 90%;
    margin: auto;
}

.note-filter-controls {
    
    text-align: center;
    background-color: $lllgray;
    border: 1px solid $lgray;
    margin: 1em auto;
    
   input {
       text-align: center;
       display: inline;
       margin: 0.5em;
   }
   
   .flag-filters {   
        position: absolute;
        background-color: $lllgray;
        z-index: 2;
        padding: 0.3em;
        border: solid 0.1em $lgray;
        left: 62.5%;
        width: 10em;
        text-align: left;
   }
    
}

.note-elements {
    margin-left: 2em;
    position: relative;
}

.document-note > .note-elements {
    margin-left: 0em;
    overflow-y: auto;
}

.note-element {
    
    position: relative;
    
    .note-controls, .view, .editing, .view > * {
        display: inline;
    }
    
    .view {
        margin-left: 0.5em;
    }
    
    .editing-container {
        
        display: inline;

        .editing {
            width: 80%;
            border: none;
            padding: 0em;
            margin: 0em 0.5em;
            font-size: 94%;
        }

        .note-controls-extended {
            margin-left: 1.5em
        }

    }
    
}

.note-controls {
    
    .toggle-show-children {
        font-weight: bold;
        display: inline-block;
        cursor: pointer;
        width: 0.5em;
    }
    
}

.note-controls-extended {
    
    .flags {
        position: absolute;
        background-color: $lllgray;
        z-index: 1;
        border: solid 0.1em $llgray;
        padding: 0.2em;
        max-height: 6em;
        overflow-y: auto;
        box-shadow: 0.1em 0.1em 0.3em black;
    }

}

.note-scoped-element {
    
    line-height: 150%;
    margin: 1em 0em;
    
    .icon-add {
        display: inline-block;
        vertical-align: middle;
    }
    
    .content {
        font-size: 1.8em;
        color: $ddgray;
        width: 90%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: inline-block;
        vertical-align: middle;
    }
    
}

.note-parents {
    
    color: $dgray;
    padding-bottom: 1em;
    border-bottom: solid 0.1em $lgray;
    font-size: 110%;
    
    .note-parent {
        
        display: inline;
        
        .content {
            user-select: none;
            font-weight: bold;
            cursor: pointer;
        }
        
        .separator {
            margin: 0.3em;
        }
        
    }
    
}