<!DOCTYPE html>

<html>
<head>
    <title>Vynote</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body class="home">
    <nav class="nav-bar">
        <div class="left">
            <span class="title">Vynote</span>
            <span class="sub-title">notes/ideas/code/snippets/lists</span>
        </div>
        <div class="right">
            <a href="https://accounts.xyfir.com/login/12">Sign In</a>
            <a href="https://accounts.xyfir.com/register/12">Register</a>
            <a href="workspace/">Workspace</a>
        </div>
    </nav>
    <div class="markdown">
        <h1 id="vynote">Vynote</h1>
        <p>Vynote is an easy and productive way to store and organize your ideas, code, snippets, and lists.</p>
        <h2 id="features">Features</h2>
        <ul>
            <li><strong>Free to Use:</strong> Simply sign in with your <a href="https://accounts.xyfir.com/">Xyfir Account</a> to use Vynote</li>
            <li><strong>Folder System:</strong> Keep your documents organized in nestable folders</li>
            <li><strong>Multi-Tasking:</strong> You can have multiple documents open in different tabs for easy multi-tasking</li>
            <li><strong>Multiple Document Types:</strong> Use the right tool for the job. See <a href="#document-types">Document Types</a></li>
            <li><strong>Document Collaboration:</strong> Invite other Vynote users to work on a document with you</li>
            <li><strong>In the Cloud:</strong> Your documents are automatically saved in the cloud. This means you can access your documents from all of your devices!</li>
        </ul>
        <h1 id="document-types">Document Types</h1>
        <h2 id="page">Page</h2>
        <p>Page documents are a great multi-purpose document solution. Page documents support the full <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">Markdown Syntax</a> and offer both an edit and HTML-preview modes. Use them for simple plain-text notes or take advantage of Markdown for nicely formatted notes.</p>
        <h2 id="code">Code</h2>
        <p>Code documents make it easy to work on a wide range of syntaxes for different file types. More than a 100 different syntaxes are supported. Once a code document is open, you can view and set the document's syntax. A wide range of editor themes are also available for you to choose from.</p>
        <h2 id="note">Note</h2>
        <p>Note documents are nestable notes great for lists or organizing hierarchal data. Each note element can have children elements that can be shown or hidden. Elements can also be scoped to allowing you to easily create notes that are many levels deep. Traversing elements are made easy with a simple interface as well as keyboard shortcuts.</p>
        <h1 id="premium">Premium</h1>
        <p>The free version of Vynote has certain limitations and is also supported by ads that occasionally popup in the notification bar or ad modal. Vynote Premium removes those limits, ads, and unlocks a whole new set of features and customization.</p>
        <h2 id="features">Features</h2>
        <ul>
            <li>No Advertisements</li>
            <li>
                Remove Limitations<ul>
                    <li>Unlimited Folders</li>
                    <li>Unlimited Documents</li>
                    <li>Unlimited Active Document Tabs</li>
                    <li>Unlimited Document Contributors</li>
                </ul>
            </li>
            <li>
                Document Contributor Permissions<ul>
                    <li>Determine which users can write, update, or delete in your document</li>
                </ul>
            </li>
            <li>
                Client-Side Encryption<ul>
                    <li>Optionally encrypt any document with client-side encryption.</li>
                    <li>If enabled, Vynote never sees your encryption key or your unencrypted messages</li>
                    <li>Documents can still be shared with others users if they have the encryption key</li>
                </ul>
            </li>
            <li>Import and Export Documents</li>
            <li>
                In-Document Shortcuts<ul>
                    <li>Shortcuts are a short bit of text that reference a large snippet of text</li>
                    <li>Simply define a shortcut in the <code>Settings</code> menu and then access in documents with <code>${shortcut_name}</code></li>
                </ul>
            </li>
            <li>
                Version Control<ul>
                    <li>Versions save the document's content in its current form to the version</li>
                    <li>You can revert to a version's content at a later time</li>
                </ul>
            </li>
            <li>
                Dark Theme<ul>
                    <li>A site-wide theme that's easy on the eyes in low-light environments</li>
                </ul>
            </li>
            <li>
                Customization<ul>
                    <li>Colored folder and document icons</li>
                    <li>Many other available customizations can be found in the <code>Settings</code> menu</li>
                </ul>
            </li>
            <li>New features and customizations are always being added</li>
        </ul>
        <h2 id="pricing">Pricing</h2>
        <p>You can purchase Vynote Premium subscription in the <code>Account</code> menu</p>
        <table>
            <thead>
                <tr>
                    <th>Months</th>
                    <th>Monthly Cost</th>
                    <th>Total Cost</th>
                    <th>All Features</th>
                    <th>Ads</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>One</td>
                    <td>$3.00</td>
                    <td>$3.00</td>
                    <td>Yes</td>
                    <td>No</td>
                </tr>
                <tr>
                    <td>Six</td>
                    <td>$2.50</td>
                    <td>$15.00</td>
                    <td>Yes</td>
                    <td>No</td>
                </tr>
                <tr>
                    <td>Twelve</td>
                    <td>$2.00</td>
                    <td>$24.00</td>
                    <td>Yes</td>
                    <td>No</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>