.document-container {
    width: 80vw;
    height: 95vh;
    margin: auto;
    margin-left: 20vw;
}

.document-head {
    
    text-align: center;
    
    a {
        margin: 0em 0.4em;
    }
    
    .document-info {
        
        margin: auto;
        
        td {
            padding: 0em 0.2em;
        }
        
    }
    
}

.document-settings {
    
    text-align: center;
    
    select {
        display: inline-block;
        margin: 0.4em;
    }
    
    label {
        font-weight: bold;
    }
    
}

#ace-editor {
    width: 98%;
    height: 83vh;
    margin: auto;
}