.document-container {
    width: 80vw;
    height: 95vh;
    margin: auto;
    margin-left: 20vw;
}

.document-head {
    
    text-align: center;
    
    .document-info, .document-icons {
        display: inline;
    }
    
}

.document-settings {
    
    text-align: center;
    
    select {
        display: inline-block;
        margin: 0.4em;
    }
    
    label {
        font-weight: bold;
    }
    
}

#ace-editor {
    width: 77vw;
    height: 83vh;
    margin: auto;
}