.modal {
    
    position: absolute;
    top: 10%;
    background-color: white;
    z-index: 6;
    width: 60vw;
    margin-left: 30%;
    border: solid 1px black;
    padding: 1em;
    box-shadow: 0.3em 0.3em 0.9em black;
    bottom: 10%;
    overflow-y: auto;
    text-align: center;
    
    .icon-close {
        float: right;
    }
    
    .tabs > a {
        margin: 0.4em;
    }
    
}