.modal {
    
    position: absolute;
    top: 10%;
    background-color: white;
    z-index: 6;
    width: 60vw;
    margin-left: 30%;
    border: solid 1px black;
    padding: 1em;
    box-shadow: 0.3em 0.3em 0.9em black;
    bottom: 10%;
    overflow-y: auto;
    text-align: center;
    
    .icon-close {
        float: right;
    }
    
    .tabs > a {
        margin: 0.4em;
    }
    
    .footer {
        position: absolute;
        width: 98%;
        bottom: 1%;
    }
    
}

.document-controls {
    
    .document-version-create > input, .document-contributor-add > input {
        text-align: center;
        display: inline;
    }
    
    .document-version-list {
        
        height: 40vh;
        overflow-y: auto;
        
        .document-version-list-item {
            
            padding: 0.5em;
            
            .name {
                font-weight: bold;
            }
            
            .created {
                display: block;
            }
            
        }   
        
    }
    
    .document-contributors {
        
        .document-contributor-list {
            
            height: 25vh;
            overflow-y: auto;
            
            .document-contributor-list-user {
                padding: 0.3em;
            }
            
            .selected {
                text-decoration: underline;
            }
            
        }
        
        .document-contributor-selected {
            
            background-color: $llgray;
            width: 70%;
            margin: auto;
            padding: 1em;
            border-radius: 0.5em;
            
            .user-email {
                margin: 0em;
            }
            
            .user-permissions {
                margin: 1em 0em;
            }
            
        }
        
    }
    
    .document-import {
        
        #ace-import {
            height: 57vh;
            text-align: left;
        }
        
    }
    
}

.user-account {
    
    .upgrade > .form {
        
        margin-bottom: 2em;
        
        select {
            font-size: 1.2em;
        }
        
        label {
            font-weight: bold;
            display: block;
        }
        
        input {
            display: inline;
        }
        
        input[type="number"] {
            width: 4em;
        }
        
    }
    
}

.user-settings {
    
    label {
        display: block;
        font-weight: bold;
    }
    
    .input-description {
        font-size: 90%;
        color: $ddgray;
        display: block;
    }
    
    .config {
        
        margin-bottom: 2em;
        
        button {
            display: block;
            margin: 2em auto;
        }
        
    }
    
    .config, .shortcuts {
        overflow-y: auto;
        height: 20em;
    }
    
    .shortcuts {
        
        input {
            display: inline;
            text-align: center;
        }
        
        textarea {
            text-align: center;
            width: 30em;
            height: 7em;
        }
        
    }
    
}