.document-note {
    width: 80%;
    margin: auto;
}

.note-filter-controls {
    
    text-align: center;
    background-color: $lllgray;
    border: 1px solid $lgray;
    margin: 1em auto;
    
   input {
       text-align: center;
       display: inline;
       margin: 0.5em;
   }
   
   .flag-filters {   
        position: absolute;
        background-color: $lllgray;
        z-index: 2;
        padding: 0.3em;
        border: solid 0.1em $lgray;
        left: 62.5%;
        width: 10em;
        text-align: left;
   }
    
}

.note-elements {
    margin-left: 2em;
    position: relative;
}

.note-element {
    
    position: relative;
    
    .note-controls, .view, .editing, .view > * {
        display: inline;
    }
    
    .view, .editing {
        margin-left: 0.5em;
    }
    
    .editing {
        outline: none;
    }
    
}

.note-controls {
    
    position: relative;
    
    .highlight {
        color: rgba(0,0,0,0.4);
    }
    
    .toggle-show-children {
        position: absolute;
        font-weight: bold;
        top: -10%;
    }
    
    .show {
        left: -40%;
    }
    
    .hide {
        left: -28%;
    }
    
    .controls-extended {
        position: absolute;
        background-color: $gray;
        border: 1px solid $lgray;
        color: $lllgray;
        width: 10em;
        height: 9em;
        padding: 0.2em;
        line-height: 80%;
        font-size: 80%;
        z-index: 1;
    }
    
    .controls-extended > * {
        display: block;
        border-bottom: 1px solid $lgray;
        width: 90%;
        margin: auto;
        margin-bottom: 0.3em;
        padding-bottom: 0.2em;
    }
    
    .controls-extended > .icon-close {
        position: absolute;
        text-align: right;
        border: none;
    }
    
    .flags {
        
        height: 5em;
        overflow-y: auto;
        
        .flag {
            
            display: block;
            
            * {
                display: inline;
            }
            
        }
    }
    
}

.note-scoped-element {
    
    margin: 1em 0em;
    display: table;
    
    .icon-add {
        display: table-cell;
        vertical-align: middle;
    }
    
    .content {
        font-size: 1.8em;
        color: $ddgray;
        display: table-cell;
    }
    
}

.note-parents {
    
    color: $dgray;
    padding-bottom: 1em;
    border-bottom: solid 0.1em $lgray;
    font-size: 110%;
    
    .note-parent {
        
        display: inline;
        
        .content {
            font-weight: bold;
        }
        
        .separator {
            margin: 0.3em;
        }
        
    }
    
}